

@{
    ViewBag.Title = "InsertStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InsertStudent</h2>

<form method="post" enctype="multipart/form-data">
    <h2>Student Information System</h2>
    <p>
        <input type="hidden" name="studentId" id="studentId" value="" />
        Name <input type="text" name="studentName" id="studentName" value="" />
    </p>
    <p>
        Address <input type="text" name="address" id="address" value="" />
    </p>
    <p>
        Date of Birth <input type="date" name="dob" id="dob" value="" />
    </p>
    <p>
        Picture <input type="file" name="imgFile" id="imgFile" accept="image/*" />
    </p>
    <p>
        <button type="submit" id="btnUpdate">Update</button>
    </p>
    <p>
        <img id="myImg" src="" alt="your image" height=200 />
    </p>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $("#imgFile").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#myImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
</script>
