<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <a href="/Home/Index">Ajax CRUD</a> | <a href="/StudentInfo/Index">MVC Razor CRUD</a>
        <h1>MVC Razor</h1>
        @RenderBody()
    </div>
</body>
</html>
